[Unit]
Description=HANSEL BATMAN Mesh Network
After=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/HANSEL_MESH
ExecStart=/home/pi/HANSEL_MESH/scripts/start_mesh.sh /home/pi/HANSEL_MESH/configs/head.env
ExecStop=/home/pi/HANSEL_MESH/scripts/stop_mesh.sh

[Install]
WantedBy=multi-user.target